Movie Scraping from IMDB using beautiful soup.

Importing libraries

In [ ]:
from bs4 import BeautifulSoup
import requests
import re
import pandas as pd

Acquiring IMDB data

In [ ]:
url = 'https://www.imdb.com/chart/top'
response = requests.get(url)
soup = BeautifulSoup(response.text, "html.parser")

Extract data from HTML

In [ ]:

movies = soup.select('td.titleColumn')
crew = [a.attrs.get('title') for a in soup.select('td.titleColumn a')]
ratings = [b.attrs.get('data-value')
        for b in soup.select('td.posterColumn span[name=ir]')]

movies

Storing information

In [14]:
#create empty list to store data
list = []

#go over object 'movies' to extract details

for index in range(0, len(movies)):

  #extract text from 'movie'
  movie_string = movies[index].get_text()

  #split string into individual words, removes punctuation and reorder them.
  movie = (' '.join(movie_string.split()).replace('.', ''))

  #extracts movie title from string
  movie_title = movie[len(str(index))+1:-7]


  year = re.search('\((.*?)\)', movie_string).group(1)

  place = movie[:len(str(index))-(len(movie))]

  data = {"place": place,
            "movie_title": movie_title,
            "rating": ratings[index],
            "year": year,
            "star_cast": crew[index],
            }
  list.append(data)

Print movie details with rating

In [ ]:
for movie in list:
    print(movie['place'],
          '-', movie['movie_title'],
          '('+movie['year'] +') -', 
          'Starring:', 
          movie['star_cast'],
          movie['rating'])

In [16]:
#export as csv

df = pd.DataFrame(list)
df.to_csv('imdb_top_250_movies.csv',index=False)

In [18]:
df

,place,movie_title,rating,year,star_cast
0,1,The Shawshank Redemption,9.236066782654824,1994,"Frank Darabont (dir.), Tim Robbins, Morgan Fre..."
1,2,The Godfather,9.155654535572937,1972,"Francis Ford Coppola (dir.), Marlon Brando, Al..."
2,3,The Dark Knight,8.992755877483987,2008,"Christopher Nolan (dir.), Christian Bale, Heat..."
3,4,The Godfather Part II,8.983836482331586,1974,"Francis Ford Coppola (dir.), Al Pacino, Robert..."
4,5,12 Angry Men,8.954276017038527,1957,"Sidney Lumet (dir.), Henry Fonda, Lee J. Cobb"
...,...,...,...,...,...
245,246,The Iron Giant,8.006740203552987,1999,"Brad Bird (dir.), Eli Marienthal, Harry Connic..."
246,247,The Help,8.006108311579624,2011,"Tate Taylor (dir.), Viola Davis, Emma Stone"
247,248,Aladdin,8.003692449280804,1992,"Ron Clements (dir.), Scott Weinger, Robin Will..."
248,249,John Wick: Chapter 4,8.002941425288222,2023,"Chad Stahelski (dir.), Keanu Reeves, Laurence ..."
249,250,Dances with Wolves,8.002082111611939,1990,"Kevin Costner (dir.), Kevin Costner, Mary McDo..."